@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    background: rgb(38,22,163);
    background: linear-gradient(90deg, rgba(38,22,163,1) 0%, rgba(57,57,193,1) 34%);  
}

*{
    font-family: 'Source Sans 3', sans-serif;
    user-select: none;
}


h1 {
    font-size: 35px;
    color: white;
    font-family: 'Satisfy', cursive;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

header,article,footer,.item__container{
    text-align: center;
    grid-column: 1/7;
   
}

main {
    grid-column: 1/5;
    max-height: 700px;

}

.intro {
    margin: 30px;
    max-width: 700px;
    padding: 50px;
    outline: black solid 1px;
    background-color: rgb(43, 40, 70);
    color: white;
    font-family: 'Satisfy', cursive;
    box-shadow: -10px 10px rgb(29, 27, 48);
    transition: all 1s;
}



.intro:hover,.intro2:hover,.intro3:hover {
    box-shadow: -20px 20px rgb(29, 27, 48);
    transition: box-shadow 1s;
}

.intro p {
    font-size: 25px;
}

h2 {
    font-size: 80px;
}

aside {
    grid-column: 5/7;
    max-height: 700px;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    outline: black solid 1px;
    background-color: rgb(43, 40, 70);
    color: white;
    box-shadow: -10px 10px rgb(29, 27, 48);
    transition: all 1s;
}

.intro3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    outline: black solid 1px;
    background-color: rgb(43, 40, 70);
    color: white;
    box-shadow: -10px 10px rgb(29, 27, 48);
    transition: all 1s;
    
}


.item__1 {
    cursor: pointer;
    grid-column: 1/3;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 40, 70);
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    filter: grayscale();
    transition: all, 1s;
}

.item__1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item__1:hover {
   filter: none;
}

.item__2 {
    cursor: pointer;
    grid-column: 3/5;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 40, 70);
    color: white;
    box-sizing: border-box;
    transition: 1s;
    filter: grayscale();
}

.item__2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item__2:hover {
    filter: none;
}

.item__3 {
    cursor: pointer;
    grid-column: 5/7;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 40, 70);
    color: white;
    filter: grayscale();
    transition: all 1s;
}


.item__3:hover {
    filter: none;
}

.item__3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h4 {
    font-size: 40px;
    color: white;
}

article {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

article p {
    color: white;
    font-weight: bolder;
}

footer {
    outline: black 1px solid;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.form__box {
    grid-column: 1/7;
    min-height: 450px;
    display: flex;
    justify-content: center;
}

.form__box p {
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
        color: white;
}

.form__box-item {
    max-height: 340px;
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 40, 70);
    box-shadow: -10px 10px rgb(29, 27, 48);
    min-width: 50%;
    align-items: center;
    transition: all 1s;
}

.form__box-item:hover {
    box-shadow: -20px 20px rgb(29, 27, 48);
}

.inputs {
    box-decoration-break: none;
    width: 45%;
    font-weight: bold;
    color: white;
    font-weight: bolder;
    background-color: rgb(29, 27, 48);
    margin-bottom: 10px;
    border: none;
    min-height: 20px;
    border-radius: 5px;
    transition: all, 1s;
    outline: none;
    padding: 10px;
}

.inputs:focus {
    background-color: #3e3966;
}

.boton {
    margin-top: 20px;
    width: 20%;
    min-height: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(29, 27, 48);
    transition: all 1s;
    border: none;
}

.boton:hover {
    color: white;
    background-color: #3e3966;
}

.encabezado {
    grid-column: 1/7;
    min-height: 150px;
}


.encabezado p {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

@media screen and ( max-width: 1000px) {

    main,aside,.item__1,.item__2,.item__3 {
        grid-column: 1/7;
    }

    .form__box-item {
        width: 80%;
    }

    .item__3,.item__2,.item__1 {
        height: 20em;
    }
}

@media screen and ( max-width: 800px) {

    h2 {
        font-size: 40px;
    }

    main,aside,.item__1,.item__2,.item__3 {
        grid-column: 1/7;
    }

    .form__box-item {
        width: 80%;
    }

    .item__3,.item__2,.item__1 {
        height: 20em;
    }

    .encabezado p {
        font-size: 40px;
    }

    .inputs {
        min-width: 250px;
        margin-bottom: 20px;
    }
    .boton {
        min-height: 30px;
        min-width: 150px;
    }
}